{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Event</div>

        <!-- Table -->
        <table class="table table-striped">
            <thead>
            <tr>
            <th>Event Name</th>
            <th>Category</th>
            <th>Day</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.category.name }}</td>
                <td>{{ event.day|date('F j, Y, g:i a') }}</td>
                <td><a class="btn btn-default" href="/event/edit/{{ event.id }}">Edit</a>
                    <a class="btn btn-danger" href="/event/delete/{{ event.id }}">Delete</a> </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}